<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Tyrees Johnson</title>
    <link href="icon.png" rel="icon">
    <link href="css/main.css" rel="stylesheet">
</head>
<div class="content-line"></div>
<div class="content-alert">
    <p>I did my best its not scaled for TV Screens, Try using a smaller monitor asshole.
        <span>&times;</span>
    </p>
</div>

<div class="content">
    <h4>Tyrees Johnson</h4>
    <h1>I design & build <br/> web applications.</h1>
<br/>
    <img src="background.png" alt="Tyrees Johnson">
<br/>
</div>

<div class="sub-content">
    <p>
        &copy; 2020 <b>Tyrees Johnson</b> |  Built in <b>Node.JS</b> & hosted on <b>Heroku</b>
    </p>
 </div>